Task-5

In [ ]:
dict1={
    "april_batch":{
        "student":{
            "name":"Mike",
            "marks":{
                "Python":80,
                "Maths":70
            }
        }
    }
}

From the above dictionary,

1.Access "Mike"

In [ ]:
dict1["april_batch"]["student"]["name"]

'Mike'

2.Access 80

In [ ]:
dict1["april_batch"]["student"]["marks"]["Python"]

80

3.Change "Mike" to "Your name"

In [ ]:
dict1["april_batch"]["student"]["name"]="Shrinidhi"
print(dict1)

{'april_batch': {'student': {'name': 'Shrinidhi', 'marks': {'Python': 80, 'Maths': 70}}}}

4.Add ML=80 and DL=80 inside marks

In [ ]:
dict1["april_batch"]["student"]["marks"]["ML"]=80
print(dict1)

{'april_batch': {'student': {'name': 'Shrinidhi', 'marks': {'Python': 80, 'Maths': 70, 'ML': 80}}}}

In [ ]:
dict1["april_batch"]["student"]["marks"]["DL"]=80
print(dict1)

{'april_batch': {'student': {'name': 'Shrinidhi', 'marks': {'Python': 80, 'Maths': 70, 'ML': 80, 'DL': 80}}}}

TASK-6
Add and remove the elemts from a tuple

In [ ]:
tup=(1,2,3,4,5,6)

Converting to list

In [ ]:
list1=list(tup)
list1

[1, 2, 3, 4, 5, 6]

To add list

In [ ]:
list1.append(7)
list1

[1, 2, 3, 4, 5, 6, 7]

To remove

In [ ]:
rem=list1.pop(6)
list1

[1, 2, 3, 4, 5, 6]

Again convert to tuple

In [ ]:
tup=tuple(list1)
tup

(1, 2, 3, 4, 5, 6)